body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #f0f0f0, #d9e4f5);
    padding: 20px;
    text-align: center;
    color: #333;
}

button, input {
    padding: 12px 24px;
    margin: 10px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    background-color:transparent;
    color: white;
    cursor: pointer;
}
.createRoom {
    background-color: #3498db;
    color: white;
}
.kickRoom {
    background-color: red;
    color: white;
}
button:hover {
    background-color: transparent;
    transform: translateY(-2px);
}

.quitRoom {
    background-color: #e74c3c;
    color: white;
}

.quitRoom:hover {
    background-color: #c0392b;
}
.joinRoom {
    background-color: gray;
    color: white;
}

.joinRoom:hover {
    background-color: gray;
}


input {
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 12px;
    width: 250px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

#participantCount {
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
    color: #555;
}

body::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    background-image: url('GHOST.PNG');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.8;
}
.muteButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

.muteButton img {
    width: 32px;
    height: 32px;
    transition: transform 0.2s ease;
}

.muteButton:hover img {
    transform: scale(1.1);
}

#participantList {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .participantItem {
    background: white;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  

  
.myGhostName {
  font-size: 24px;
  color: #4CAF50;
  margin-top: 20px;
}

